/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* on_map_dropped is important, don't get rid of it */

html, body {
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}

pre {
  padding: 0;
  margin: 10px 0 0 0;
  font-family: inherit;
  font-size: 125%;
  background-color: white;
}

#user_info {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
}

#user_info a {
  color: black;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.warning {
  color: red;
}

#main_dropzone {
  width: 100%;
  height: 100%;
}

#site_img {
  height: 100%;
}

#site_map {
  height: 100%;
}
