<div id="info_pane">
  <h2 id="info_title">Hover over an AP to see more info</h2>
  <div id="unavailable" class="hidden">Data unavailable</div>
  <div id="info_wrapper">
    <div id="ap_hostname" class="hidden">Hostname: <span class="nowrap"></span><br></div>
    <div id="ap_connections" class="hidden">Connections: <span class="nowrap"></span><br></div>
    <div id="ap_uptime" class="hidden">Uptime: <span class="nowrap"></span><br><br></div>
    <div class="hidden"><strong id="r0">Radio 0:</strong><br></div>
    <div id="r0_channel" class="hidden">Channel: <span class="nowrap"></span><br></div>
    <div id="r0_signal" class="hidden">Signal: <span class="nowrap"></span><br></div>
    <div id="r0_quality" class="hidden">Quality: <span class="nowrap"></span><br></div><br>
    <div class="hidden"><strong id="r1">Radio 1:</strong><br></div>
    <div id="r1_channel" class="hidden">Channel: <span class="nowrap"></span><br></div>
    <div id="r1_signal" class="hidden">Signal: <span class="nowrap"></span><br></div>
    <div id="r1_quality" class="hidden">Quality: <span class="nowrap"></span><br></div><br>
  </div>
</div>